 <style>
    .section-custom-best-seller .main-flexbox {
      display: flex;
      object-fit: contain;
      font-color: #222222;

    }

    .section-custom-best-seller .sub-flexbox {
      flex: 1;
      display: flex;
      flex-direction: column;
      object-fit: contain;
    }

   

    .section-custom-best-seller .inner-flexbox-image {
      height: 720px;
      object-fit: contain;


    }
      .section-custom-best-seller h2{
      font-size: 3rem;
     

     
   }
   
   .section-custom-best-seller h6{
      font-size: 1.25rem;
     

     
   }
     .section-custom-best-seller h5 {
  font-size: 1rem;
}
   
      .section-custom-best-seller .button-decouvrez {
      position: absolute;
      top: 641px;
      left: 24px;
      width: auto; /* Ajoutez la largeur souhaitée lorsqu'il est survolé */
      color: #fff;
      background-color: rgba(255, 255, 255, .17);
      border: 1px solid #fff;
      padding: 12px 24px;
      transition: border-color 0.3s;
      box-sizing: border-box;
      text-decoration: none !important;
      size: 1.25rem;

    }

    .section-custom-best-seller .button-decouvrez:hover {
      border: 2px solid #fff;
      opacity: 1;
    }

    .section-custom-best-seller .inner-flexbox-image>.centered-content {
      text-align: center;
      font-size: 32px;
      line-height: 35.5px;
      padding-right: 10%;
      padding-left: 10%;

    }

    .section-custom-best-seller .anotation {
  position: absolute;
      top: 8px;
      left: 24px;
      width: 100px;
      font-size: 1.5rem;
        color: #222222;
    

    }

    .section-custom-best-seller .inner-flexbox-image img {
      height: 100%;
      width: 100%;
      object-fit: cover;

    }

    
    .section-custom-best-seller .inner-flexbox-item {
      display: flex;
      height: 88px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-content: center;
      object-fit:contain;
    }

   
    .section-custom-best-seller .div-element {
      max-height: 100%;
      object-fit:contain;
      width: 100%;
      margin: 12px 16px;
      justify-content: space-between;
      object-fit:contain;


    }
    
   .section-custom-best-seller .section-1 {
        justify-content: space-between;
        display: flex;
      }

    .section-custom-best-seller .section-2 {
    justify-content: space-between;
      display: flex;
      align-items: center; /* Align items vertically in the center */
      margin-top: -20px;

    }

     .section-custom-best-seller .link-block {
      padding-left: 5px; 
    }
      .section-custom-best-seller .cercle {
      border: 1px solid #000;
      border-radius: 20px;


    }

    .section-custom-best-seller .div-button {
      font-size: 0;


    }

    @media screen and (max-width: 600px) {
      .section-custom-best-seller .main-flexbox {
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        height: auto;

      }

      .section-custom-best-seller .sub-flexbox {
        width: 100%;
      }

      .section-custom-best-seller .deux {
        display: none;
      }

    }
  </style>

  <div class="section-custom-best-seller">
    <div class="main-flexbox">
      <div class="sub-flexbox">

        <div class="inner-flexbox-image">

          {% if section.settings.text-anotation %}
          <div style="position: relative; ">
            <p class="anotation" style="text-decoration: none;">{{ section.settings.text-anotation }}</p>
          </div>
          {% endif %}
   <div style="position: relative;object-fit:contain; ">
            <a href="{{ section.settings.selected_product.url }}" class="button-decouvrez" id="decouvrezBestSeller" style="@font-family : prompt_n4 !important;font-size:1.75rem;">Découvrir</a>
          </div>

 {% if section.settings.selected_product %}
                {% assign imageProduit1 = section.settings.image_1 %}
                   <img src="{{ imageProduit1 | img_url: 'master' }}" alt="Image sélectionnée" loading="lazy" id="bestSellerBoxImage"/>
            {% endif %}
        </div>


        <div class="inner-flexbox-item">


<div class="div-element" >
            
          <section class="section-1">
           <div><h5>{{ section.settings.titre  }}</h5></div>
                <div><h5> {{ section.settings.prix }}</h5></div>
          </section>
          
          <section class="section-2">
            <div><h5>S M L XL</h5></div>
          <div class="div-button" >            
           {% if section.settings.color_button.alpha > 0 %}
            <a href="#" class="link-block" id="firstLinkBlockProduit">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
         {% if section.settings.color_button2.alpha > 0 %}
            <a href="#" class="link-block" id="secondSectionLinkBlockProduit">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button2 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
{% if section.settings.color_button3.alpha > 0 %}
            <a href="#" class="link-block" id="thirdLinkBlockProduit1">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button3 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}

                </div>
            
          </section>
          </div>
          
        </div>
      </div>


      <div class="sub-flexbox">
        <div class="inner-flexbox-image" style="background-color: #f5f2ec;display: flex;
        align-items: center;
        justify-content: center;
      ">
          <div class="centered-content">
            <h2 style="font-family:CoralLovers;font-size:3rem;color:#222222;">Notre best-seller L’ensemble Lila</h2>
          </div>

        </div>

        <div class="inner-flexbox-item deux">


        </div>


      </div>
    </div>
  </div>

{% schema %}
  {
    "name": "best-seller-new",
    "settings": [
          {
        "type": "text",
        "id": "text-anotation",
        "label": "Text anotation"
      },
                {
        "type": "text",
        "id": "prix",
        "label": "Text prix"
      },
                      {
        "type": "text",
        "id": "titre",
        "label": "Text titre 1"
      },
      {
        "type": "text",
        "id": "titre2",
        "label": "Text titre 2"
      },
          {
        "type": "text",
        "id": "titre3",
        "label": "Text titre 3"
      },
  {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
        {
      "type": "product",
      "id": "selected_product2",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
        {
      "type": "product",
      "id": "selected_product3",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
          {
      "type": "image_picker",
      "label": "Image 1",
      "id": "image_1"
    },
    {
      "type": "image_picker",
      "label": "Image 2",
      "id": "image_2"
    },
       {
      "type": "image_picker",
      "label": "Image 3",
      "id": "image_3"
    },
          {
      "type": "image_picker",
      "label": "rorme cercle",
      "id": "forme"
    },
           {
      "type": "color",
      "id": "color_button",
      "label": "[1] Couleur du bouton"
    },
     {
      "type": "color",
      "id": "color_button2",
      "label": "[1] Couleur du bouton 2"
    },
      {
      "type": "color",
      "id": "color_button3",
      "label": "[1] Couleur du bouton 3"
    }
    ],
      "presets": [
    {
      "name": "best-seller-new"
    
    
    }
  ]
  }
{% endschema %}

<script>


  document.addEventListener('DOMContentLoaded', function() {
 
    var decouvrezBestSeller = document.getElementById('decouvrezBestSeller');
    var bestSellerBoxImage = document.getElementById('bestSellerBoxImage');


    document.getElementById('secondSectionLinkBlockProduit').addEventListener('click', function() {
            event.preventDefault();
            {% if section.settings.selected_product3 %}
              {% assign imageProduit = section.settings.image_3 %}
              {% assign urlProduit = section.settings.selected_product3.url %}
              {% assign product = section.settings.selected_product3 %}

         decouvrezBestSeller.href = "{{ urlProduit }}";
         bestSellerBoxImage.src = '{{imageProduit | img_url: 'master'}}';
          
            {% endif %}

  });
    
        document.getElementById('firstLinkBlockProduit').addEventListener('click', function() {
            event.preventDefault();
            {% if section.settings.selected_product %}
              {% assign imageProduit = section.settings.image_1 %}
              {% assign urlProduit = section.settings.selected_product.url %}
              {% assign product = section.settings.selected_product %}

         decouvrezBestSeller.href = "{{ urlProduit }}";
         bestSellerBoxImage.src = '{{imageProduit | img_url: 'master'}}';
          
            {% endif %}

  });

    document.getElementById('thirdLinkBlockProduit1').addEventListener('click', function() {
            event.preventDefault();
            {% if section.settings.selected_product3 %}
              {% assign imageProduit = section.settings.image_3 %}
              {% assign urlProduit = section.settings.selected_product3.url %}
              {% assign product = section.settings.selected_product3 %}

         decouvrezBestSeller.href = "{{ urlProduit }}";
         bestSellerBoxImage.src = '{{imageProduit | img_url: 'master'}}';
          
            {% endif %}

  });


    



});








  
</script>
