
{% stylesheet %}


  .section-custom-best-seller h5 {
  font-size: 1rem;
}
 
    .section-custom-best-seller .flex-container {
      display: flex;
      height: 788px;
      object-fit: contain;
    }

    .section-custom-best-seller .flex-box {
      flex: 1;
      width: 56.25vw;
    }

    .section-custom-best-seller .inner-flexbox-image {
      height: 720px;
      object-fit:contain;
    }

    .section-custom-best-seller .inner-flexbox-image img {
      height: 100%;
      width: 100%;
      object-fit: cover;

    }
  
    .section-custom-best-seller .inner-flexbox-contenu {
    display: flex;
      height: 88px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-content: center;
      object-fit:contain;
    }

    .section-custom-best-seller .inner-flexbox-image>.centered-content {
      text-align: center;
      font-size: 32px;
      line-height: 35.5px;
      max-width: 372.5px;


    }

    .section-custom-best-seller .button-decouvrez {
      display:flex;
      position: absolute;
      top: 641px;
      left: 24px;
      width: auto; /* Ajoutez la largeur souhaitée lorsqu'il est survolé */
      color: #fff;
      background-color: rgba(255, 255, 255, .17);
      border: 1px solid #fff;
      padding: 12px 24px;
      transition: border-color 0.3s;
      box-sizing: border-box;
      text-decoration: none !important;
      size: 1.25rem;

    }
    .section-custom-best-seller .button-decouvrez:hover {
      border: 2px solid #fff;

    }
    
    .section-custom-best-seller .cercle {
      border: 1px solid #000;
      border-radius: 20px;


    }

    .section-custom-best-seller .div-button {
      font-size: 0;


    }
  
   
    .section-custom-best-seller .div-element {
     max-height: 100%;
      object-fit:contain;
      width: 100%;
      margin: 12px 16px;
      justify-content: space-between;

    }
    
 .section-custom-best-seller .section-1 {
    justify-content: space-between;
      display: flex;


    }

    .section-custom-best-seller .section-2 {
    justify-content: space-between;
      display: flex;
      align-items: center; /* Align items vertically in the center */
      padding-bottom: 5px;


    }

     .section-custom-best-seller .link-block {
      padding-left: 5px; 
    }
    
    @media screen and (max-width: 600px) {
      .section-custom-best-seller .flex-container {
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        
      }
      .section-custom-best-seller .flex-box {
        width: 100%;
      }
    
    }
{% endstylesheet %}


  <div class="section-custom-best-seller">

    <div class="flex-container">
      <div class="flex-box">
        <div class="inner-flexbox-image">
          <div style="position: relative;object-fit:contain; ">
            <a href="{{ section.settings.selected_product.url }}" class="button-decouvrez" id="decouvrezBestSeller" style="@font-family : prompt_n4 !important;font-size:1.75rem;">Découvrir</a>
          </div>
          
              {% if section.settings.selected_product %}
                {% assign imageProduit1 = section.settings.image_1 %}
                   <img src="{{ imageProduit1 | img_url: 'master' }}" alt="Image sélectionnée" loading="lazy" id="bestSellerBoxImage"/>
            {% endif %}

        </div>
        <div class="inner-flexbox-contenu">
          
          <div class="div-element" >
            
          <section class="section-1">
            <div><h5>Ensemble Abaya Lila</h5></div>
            <div><h5>95€</h5></div>
          </section>
          
          <section class="section-2">
            <div><h5>S M L XL</h5></div>
            <div class="div-button" >
              {% if section.settings.color_button.alpha > 0 %}
            <a href="#" class="link-block" id="Best-Seller-first-Link-produit">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button1 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
         {% if section.settings.color_button2.alpha > 0 %}
            <a href="#" class="link-block" id="Best-Seller-second-Link-produit">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button2 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
{% if section.settings.color_button3.alpha > 0 %}
            <a href="#" class="link-block" id="Best-Seller-third-Link-produit">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button3 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
            </div>
          </section>
          </div>


          
        </div>
      </div>

      <div class="flex-box">
        <div class="inner-flexbox-image" style="background-color: #f5f2ec;display: flex;
          align-items: center;
          justify-content: center;
">
          <div class="centered-content" >
            <h2 style="font-family:CoralLovers;font-size:3rem;color:#222222;">Notre best-seller L’ensemble Lila</h2>
          </div>

        </div>
        <div class="inner-flexbox-contenu">
          
        </div>
      </div>
    </div>
  </div>

{% schema %}
  {
    "name": "best-seller",
    "settings": [
  {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
        {
      "type": "product",
      "id": "selected_product2",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
        {
      "type": "product",
      "id": "selected_product3",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
          {
      "type": "image_picker",
      "label": "Image 1",
      "id": "image_1"
    },
    {
      "type": "image_picker",
      "label": "Image 2",
      "id": "image_2"
    },
       {
      "type": "image_picker",
      "label": "Image 3",
      "id": "image_3"
    },
          {
      "type": "image_picker",
      "label": "rorme cercle",
      "id": "forme"
    },
           {
      "type": "color",
      "id": "color_button",
      "label": "[1] Couleur du bouton"
    },
     {
      "type": "color",
      "id": "color_button2",
      "label": "[1] Couleur du bouton 2"
    },
      {
      "type": "color",
      "id": "color_button3",
      "label": "[1] Couleur du bouton 3"
    }
    ],
      "presets": [
    {
      "name": "best-seller"
    
    
    }
  ]
  }
{% endschema %}
<script>


  document.addEventListener('DOMContentLoaded', function() {
 
    var decouvrezBestSeller = document.getElementById('decouvrezBestSeller');
    var bestSellerBoxImage = document.getElementById('bestSellerBoxImage');

document.getElementById('Best-Seller-first-Link-produit').addEventListener('click', function() {
            event.preventDefault();
            {% if section.settings.selected_product %}
              {% assign imageProduit = section.settings.image_1 %}
              {% assign urlProduit = section.settings.selected_product.url %}
              {% assign product = section.settings.selected_product %}

         decouvrezBestSeller.href = "{{ urlProduit }}";

         bestSellerBoxImage.src = '{{imageProduit | img_url: 'master'}}';
          
            {% endif %}

  });

    
document.getElementById('Best-Seller-second-Link-produit').addEventListener('click', function() {
            event.preventDefault();
            {% if section.settings.selected_product2 %}
              {% assign imageProduit = section.settings.image_2 %}
              {% assign urlProduit = section.settings.selected_product.url %}
              {% assign product = section.settings.selected_product %}

         decouvrezBestSeller.href = "{{ urlProduit }}";
         bestSellerBoxImage.src = '{{imageProduit | img_url: 'master'}}';
          
            {% endif %}

  });
    document.getElementById('Best-Seller-third-Link-produit').addEventListener('click', function() {
            event.preventDefault();
            {% if section.settings.selected_product3 %}
              {% assign imageProduit = section.settings.image_3 %}
              {% assign urlProduit = section.settings.selected_product.url %}
              {% assign product = section.settings.selected_product %}

         decouvrezBestSeller.href = "{{ urlProduit }}";
         bestSellerBoxImage.src = '{{imageProduit | img_url: 'master'}}';
          
            {% endif %}

  });


    



});








  
</script>
{% javascript %}
{% endjavascript %}
