<style>
  h5{
    font-size: 1rem;
  }
  .section-ensemble-jupe-pantalon .main-flex {
    display: flex;
    flex-direction: column;
  }


  .section-ensemble-jupe-pantalon .inner-flexbox-image {
    height: 160vh;
    width: 100%;
    object-fit: contain;
  }

  .section-ensemble-jupe-pantalon .inner-flexbox-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .section-ensemble-jupe-pantalon .inner-flexbox-item {
      display: flex;
      height: 88px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-content: center;
      object-fit:contain;

  }


  .section-ensemble-jupe-pantalon .div-element {
     max-height: 100%;
      object-fit:contain;
      width: 100%;
      margin: 12px 16px;
      justify-content: space-between; 
    
  }

  .section-ensemble-jupe-pantalon .section-1 {
    justify-content: space-between;
      display: flex;

  }

  .section-ensemble-jupe-pantalon .section-2 {
      justify-content: space-between;
      display: flex;
      align-items: center; 
      padding-bottom: 5px;

  }

  .section-ensemble-jupe-pantalon .link-block {
    padding-left: 5px;
  }

  .section-ensemble-jupe-pantalon .cercle {
    border: 1px solid #000;
    border-radius: 20px;


  }
    .section-custom-best-seller .div-button {
      font-size: 0;


    }
  
</style>

  <div class="section-ensemble-jupe-pantalon">
    <div class="main-flex">
      <div class="inner-flexbox-image">

        <a href="{{ section.settings.url_product }}">
  {% if section.settings.selected_product %}
                {% assign imageProduit1 = section.settings.image_1 %}
                   <img src="{{ imageProduit1 | img_url: 'master' }}" alt="Image sélectionnée" loading="lazy" id="bestSellerBoxImage"/>
            {% endif %}        </a>

      </div>
      <div class="inner-flexbox-item">
        <div class="div-element">

          <section class="section-1">
            <div><h5>Ensemble Top et jupe plissés Serenity </h5></div>
            <div><h5>89€</h5></div>
          </section>

          <section class="section-2">
            <div><h5>S M L XL</h5></div>
            <div class="div-button">
           {% if section.settings.color_button.alpha > 0 %}
            <a href="#" class="link-block" id="Best-Seller-first-Link-produit">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button1 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
         {% if section.settings.color_button2.alpha > 0 %}
            <a href="#" class="link-block" id="Best-Seller-second-Link-produit">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button2 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
       {% if section.settings.color_button3.alpha > 0 %}
            <a href="#" class="link-block" id="Best-Seller-third-Link-produit">
                <img src="{{ section.settings.forme | img_url: 'master' }}" alt="" loading="lazy" style="background-color:{{ section.settings.color_button3 }};" width="12" height="12" class="cercle" >
            </a>
        {% endif %}
            </div>

          </section>


        </div>
      </div>
    </div>
  </div>


{% schema %}
  {
    "name": "Section jupe pantalon",
    "settings": [
       {
      "type": "product",
      "id": "selected_product",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
        {
      "type": "product",
      "id": "selected_product2",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
        {
      "type": "product",
      "id": "selected_product3",
      "label": "Produit sélectionné",
      "info": "Choisissez un produit à afficher dans cette section"
    },
          {
      "type": "image_picker",
      "label": "Image 1",
      "id": "image_1"
    },
    {
      "type": "image_picker",
      "label": "Image 2",
      "id": "image_2"
    },
       {
      "type": "image_picker",
      "label": "Image 3",
      "id": "image_3"
    },
          {
      "type": "image_picker",
      "label": "rorme cercle",
      "id": "forme"
    },
           {
      "type": "color",
      "id": "color_button",
      "label": "[1] Couleur du bouton"
    },
     {
      "type": "color",
      "id": "color_button2",
      "label": "[1] Couleur du bouton 2"
    },
      {
      "type": "color",
      "id": "color_button3",
      "label": "[1] Couleur du bouton 3"
    },
    {
      "type": "url",
      "id": "url_product",
      "label": "url sélectionné "
    }      
    ],
      "presets": [
    {
      "name": "Section jupe pantalon"
    
    }
  ]
  }
{% endschema %}
